[supervisord]
pidfile = {{ config_folder }}/supervisord.pid
logfile = {{ config_folder }}/supervisord.log

[unix_http_server]
file = {{ supervisor_socket }}

[supervisorctl]
serverurl = unix://{{ supervisor_socket }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

{% for output in screen.outputs %}
[program:polybar-{{ output.name }}]
command = /bin/polybar --reload {{ output.name }}
stdout_logfile = {{ config_folder }}/logs/polybar-{{ output.name }}.log
redirect_stderr = true
{% endfor %}

{% set comma = joiner(",") %}
[group:polybar]
programs={%- for output in screen.outputs %}{{ comma() }}polybar-{{ output.name }}{% endfor %}