{% for device in network.devices|selectattr("DEVTYPE", "undefined")|selectattr("ID_NET_NAME", "defined") -%}
{% if not device.INTERFACE.startswith("veth") and not device.INTERFACE.startswith("docker") and not device.INTERFACE.startswith("br-") -%}

[module/eth]
type = internal/network
interface = {{ device.INTERFACE }}
interval = 3.0

format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}
{% endif -%}
{% endfor -%}