[Unit]
Description={{ description }}
{%- for (key, values) in unit_config.items() %}
{%- for value in values %}
{{ key }}={{ value }}
{%- endfor %}
{%- endfor %}

[Service]
ExecStart={{ command }}
{%- for (key, value) in service_config.items() %}
{{ key }}={{ value }}
{%- endfor %}
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
{%- for (key, values) in installs.items() %}
{%- for value in values %}
{{ key }}={{ value }}
{%- endfor %}
{%- endfor %}
